* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 25px 25px 25px;
}

h1 {
    font-weight: bolder;
    margin-bottom: 10px;
}

#bottleImg {
    width: 300px;
    height: auto;
}

.name-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 20px 20px;
}

#namesText {
    font-size: normal;
    font-weight: 900;
}

#names {
    font-family: 'Courier New', Courier, monospace;
    height: 22px;
    margin: 10px;
}

.select-submit-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submitBtn,
#spinBtn {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 20px 0px 20px;
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: black;
    border-style: none;
    border-radius: 3px;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

#submitBtn:active,
#spinBtn:active {
    transform: scale(0.95);
}

#outputName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: black;
    margin: 0px 20px 20px 20px;
}

#selectTD {
    margin: 10px 10px 0px 10px;
    font-size: large;
    font-weight: bolder;
    color: black;
}

#truthDareQn {
    font-size: 20px;
    font-weight: 900;
    color: black;
    margin: 20px 35px 20px 35px;
}

#truthBtn,
#dareBtn {
    width: 130px;
    height: auto;
    margin: 20px;
    /* padding: 5px 10px 5px 10px; */
}

#truthBtn {
    margin-right: 10px;
}

#dareBtn {
    margin-left: 10px;
}

#restartBtn {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    color: white;
    background-color: black;
    border-style: none;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.click-instruction {
    margin: 20px;
    font-weight: bolder;
    color: darkgray;
}

.footer {
    margin: 50px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footerText {
    font-size: 12px;
}

#githubIcon {
    margin-left: 5px;
    width: 10px;
    height: auto;
}